[submodule "backend/goodreadsAPI"]
	path = backend/goodreadsAPI
	url = https://github.com/Mhmoud-Atiyah/goodreads-API
[submodule "android"]
	path = android
	url = https://github.com/Mhmoud-Atiyah/Iqraa_Android
