/* Arabic_text */
@font-face {
    font-family: Moharram;
    src: url(./fonts/moharram-bold.ttf);
}

@font-face {
    font-family: TheYearofTheCamelLight;
    src: url(./fonts/TheYearofTheCamel-ExtraLight.otf);
}

@font-face {
    font-family: TheYearofTheCamelBold;
    src: url(./fonts/TheYearofTheCamel-Bold.otf);
}

@font-face {
    font-family: Monadi;
    src: url("./fonts/Monadi.ttf");
}

@font-face {
    font-family: Omar;
    src: url("./fonts/Omar.ttf");
}

@font-face {
    font-family: DecorationFont1;
    src: url(./fonts/DiwaniBent.ttf);
}

@font-face {
    font-family: DecorationFont2;
    src: url(./fonts/DTHULUTH.ttf);
}

@font-face {
    font-family: DecorationFont3;
    src: url(./fonts/OldAnticDecorative.ttf);
}

@font-face {
    font-family: NumberFont;
    src: url(./fonts/ArabicNumbers.ttf);
}

@font-face {
    font-family: NumberFontLight;
    src: url(./fonts/ArabicNumbersLight.otf);
}

/* English Fonts */
@font-face {
    font-family: GilroyBold;
    src: url(./fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: GilroyLight;
    src: url(./fonts/Gilroy-Light.otf);
}