ul {
    list-style: none;
}

body {
    font-family: Moharram, serif;
    color: var(--App-textColor);
}

#headerCenter {
    display: inline-flex;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    direction: rtl;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: transparent;
    font-family: Moharram, serif;
    font-size: 28px;
    word-spacing: 1px;
}

#headerCenterBTs {
    display: inline-flex;
    flex-wrap: nowrap;
    position: relative;
    padding-bottom: 5px;
}

.headerCenterBt {
    text-align: center;
    background-color: var(--App-inputBgColor);
    display: inline-flex;
    flex-wrap: nowrap;
    width: max-content;
    height: 30px;
    line-height: .8em;
    padding-right: 8px;
    padding-left: 8px;
    color: var(--App-placeholderColor);
}

.headerCenterBt:hover {
    color: var(--App-buttonTextColor);
    background-color: var(--App-buttonHoverBgColor);
}

.aboutIcon {
    color: var(--App-buttonTextColor);
    background-color: var(--App-buttonBgColor);
}

.containerBook {
    padding: 0 40px 10px 20px;
    background-color: var(--App-panelBgColor);
    border: solid 1px var(--App-panelBorderColor);
}

.rowTitle {
    display: inline-block;
    margin-bottom: 3px;
    user-select: none;
    position: relative;
    top: 0;
}

.cursorBt:hover,
.rowTitle:hover {
    color: var(--App-linkHoverColor);
}

.rowTitle span {
    font-family: Moharram, serif;
    font-size: 32px;
}

.bookItem {
    display: block;
    background-color: var(--App-inputBgColor);
    border: solid 1px var(--App-inputBorderColor);
    width: 140px;
    margin-left: 15px;
}

.bookCover {
    padding-top: 10px;
    margin-bottom: 12px;
    height: 180px;
    width: 100%;
}

.bookItemData {
    text-align: center;
}

.bookItemTitle {
    display: inline-block;
    font-weight: bold;
    width: 90%;
    height: 24px;
    overflow: hidden;
    margin-bottom: 3px;
    font-size: 16px;
}

.bookItemAuthor {
    display: inline-block;
    font-weight: bold;
    width: 90%;
    height: 24px;
    overflow: hidden;
    margin-bottom: 3px;
}

.bookItemPrice {
    display: block;
    position: relative;
    right: 3px;
    padding-bottom: 10px;
    width: 100%;
    font-family: NumberFont, serif;
}

.bookItemPriceBt {
    display: block;
    position: relative;
    padding: 10px 18px 5px 10px;
    left: -7px;
    bottom: 2px;
    float: left;
    background-color: var(--App-panelBgColor);
}

.bookItemPriceBt::after {
    content: "";
    position: absolute;
    right: 0;
    top: 12px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent var(--App-inputBgColor) transparent transparent;
}

.bookItemPriceText {
    position: relative;
    top: 7px;
}

.bookItemPriceTextCurrency {
    font-family: TheYearofTheCamelBold, serif;
    letter-spacing: 2px;
    position: relative;
    top: -2px;
    right: 2px;
}

.bookItemPriceBt:hover {
    background-color: var(--App-buttonHoverBgColor);
}

#browse_excelFileBt,
#CoverOCR,
#sourceAddbook {
    position: absolute;
    left: 18px;
    margin-top: 6px;
    font-size: 18px;
    color: var(--App-textColor);
    padding: 0 5px 0 5px;
}

#browse_excelFileBt {
    background-color: #1D6F42;
}

.OCRScreen {
    display: block;
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 2;
    height: 200px;
    width: 300px;
}

.partyBox:hover {
    background-color: var(--App-inputBgColor);
}