::-webkit-scrollbar {
    display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Hide the scrollbar for number input fields */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.cursorBt {
    cursor: pointer;
}

body {
    font-family: arbicNormal;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    margin-bottom: 100px;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    border-bottom: solid 1px var(--App-panelBorderColor);
}

#theme-icon {
    font-size: 20px;
    padding-top: 10px;
}

#status-icon {
    font-size: 20px;
    padding-top: 10px;
    transform: scaleX(-1);
}

#search-input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 300px;
    direction: rtl;
    text-indent: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#search-inputList {
    display: none;
    position: absolute;
    z-index: -1;
    top: 43px;
    left: 93px;
    height: auto;
    overflow-y: scroll;
    width: 300px;
    border: solid 1px var(--App-panelBorderColor);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--App-panelBgColor);
    color: var(--App-textColor);
    user-select: none;
}

#search-inputListItems {
    display: block;
    background-color: var(--App-panelBgColor);
}

.search-inputListItem {
    display: block;
    text-align: right;
    border-bottom: solid 1px var(--App-panelBorderColor);
}

.search-inputListItem:last-child {
    border-bottom: none;
}

.search-inputListItem img {
    position: absolute;
    left: 5px;
    cursor: pointer;
}

.search-inputListItem p {
    font-size: 22px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.search-inputListItem a {
    display: inline-block;
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
    margin-right: 10px;
    color: var(--App-textColor);
}

.search-inputListItem a:hover {
    color: var(--App-linkHoverColor);
    text-decoration: underline;
}

#secondry-nav {
    direction: rtl;
    width: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
    line-height: 2em;
}

.secondry-nav-item {
    font-family: TheYearofTheCamelBold;
    font-size: 16px;
    margin-left: 5px;
    padding-right: 4px;
    padding-left: 4px;
}

#main {
    display: block;
    position: relative;
    right: 0px;
    top: 60px;
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
}

/* Book Card */
.col {
    margin-left: 5px;
    margin-bottom: 5px;
}

/* Dock */
#nav {
    display: block;
    position: fixed;
    bottom: 4px;
    margin-right: 25%;
    border-radius: 10px;
    height: 60px;
    width: 750px;
    padding-right: 25px;
    border: solid 1px var(--App-panelBorderColor);
}

#current {
    position: relative;
    top: -105px;
    left: 5px;
    border-radius: 6px;
    height: 150px;
    width: 150px;
}

.nav-bt {
    display: block;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

.navBt {
    height: 45px;
    width: auto;
    border-radius: 2px;
}

.navBt:nth-child(5) {
    margin-right: 105px;
}

#settings {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
}

#SecondaryWindow {
    display: block;
    position: absolute;
    z-index: 1;
    top: 15%;
    /* right: 30%; */
    color: var(--App-textColor);
    background-color: var(--App-panelBgColor);
    border: solid 1px var(--App-secondaryTextColor);
    height: auto;   
    width: auto;
    max-width: 70%;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    from {
        top: 5%;
    }

    to {
        top: 15%;
    }
}

#SecondaryWindowHeader {
    display: block;
    width: 100%;
    height: 30px;
    background-color: var(--App-panelBorderColor);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    user-select: none;
}

#SecondaryWindowHeader span {
    position: relative;
    top: -10px;
    font-family: Moharram;
    font-size: 28px;
    word-spacing: 2px;
}

#SecondaryWindowBt {
    display: block;
    position: absolute;
    bottom: 7%;
    padding-right: 7%;
    height: 30px;
    width: 100%;
}

#SecondaryWindowBt span {
    background-color: var(--App-panelBorderColor);
    position: relative;
    font-family: TheYearofTheCamelBold;
    font-size: 18px;
    padding: 8px 15px 5px 15px;
    user-select: none;
}

#SecondaryWindowBt span:hover {
    background-color: var(--App-panelBgColor);
    cursor: pointer;
}

#SecondaryWindowBody {
    display: block;
    padding: 10px;
    margin-bottom: 55px;
    color: var(--App-textColor);
    font-family: TheYearofTheCamelBold;
    word-spacing: 2px;
    font-size: 16px;
}

/* Add Book Style */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 0.1rem;
}

.rating input:checked~label,
.rating label:hover~label {
    color: #f5b301;
}