::-webkit-scrollbar,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
textarea::-webkit-resizer {
    display: none;
}

input[type="search"],
input[type="text"],
input[type="number"],
input[type="date"],
textarea[class="form-control"],
#myBookComment,
#addBookModal_rate,
select[class="form-select"] {
    font-family: GilroyLight, serif;
    color: var(--App-textColor);
    background-color: var(--App-inputBgColor);
    border-color: var(--App-inputBorderColor);
}

input[type="search"]::-webkit-input-placeholder,
textarea[class="form-control"]::-webkit-input-placeholder,
#myBookComment::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
select[class="form-select"]::-webkit-color-swatch {
    color: var(--App-placeholderColor);
}

/* Hide the scrollbar for number input fields */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cursorBt {
    cursor: pointer;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--App-inputBgColor) var(--App-inputBgColor) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent var(--App-inputBorderColor) var(--App-inputBorderColor);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.bookshelfBt {
    color: var(--App-textColor);
    background-color: var(--App-inputBgColor);
    border-color: var(--App-inputBorderColor);
}
.bookshelfBt:hover{
    background-color: var(--App-inputBgColor);
}

body {
    font-family: arbicNormal, serif;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#header {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
    padding: 5px 10px 5px 5px;
    background-color: var(--App-panelBgColor);
    color: var(--App-textColor);
    border: solid 1px var(--App-panelBorderColor);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#headerRight {
    position: fixed;
    right: 10px;
    top: 8px;
}

#theme-icon {
    font-size: 16px;
    padding-top: 10px;
}

#status-icon {
    font-size: 16px;
    padding-top: 10px;
    transform: scaleX(-1);
}

.profilePic {
    display: inline;
    position: relative;
    top: -3px;
    height: 32px;
    width: 32px;
}

#addBookBt {
    font-size: 18px;
    display: block;
    font-family: Moharram, serif;
    height: 36px;
    width: 80px;
    margin-top: 2px;
}

#searchBt i {
    font-size: 18px;
    position: relative;
    top: 5px;
    z-index: 1;
    color: var(--App-placeholderColor);
}

#search-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    height: 36px;
    margin-top: 2px;
    direction: rtl;
    text-indent: 15px;
    font-family: GilroyLight, serif;
    color: var(--App-textColor);
    background-color: var(--App-inputBgColor);
    border-color: var(--App-inputBorderColor);
}

#search-inputList {
    display: none;
    position: relative;
    z-index: 1;
    top: -4px;
    left: 9px;
    /*TODO: remove height attribute */
    overflow-y: scroll;
    border: solid 1px var(--App-inputBorderColor);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--App-inputBgColor);
    color: var(--App-textColor);
    user-select: none;
}

#search-inputListItems {
    display: block;
}

.search-inputListItem {
    display: block;
    text-align: right;
    border-bottom: solid 1px var(--App-inputBorderColor);
}

.search-inputListItem:last-child {
    border-bottom: none;
}

.search-inputListItemText {
    display: flex;
    flex-direction: column;
}

/* Book title */
.search-inputListItem p {
    font-size: 24px;
    line-height: .7em;
    height: 24px;
    display: inline-block;
    margin-bottom: 2px;
}

/* Author title */
/*TODO: Different for English names */
.search-inputListItem a {
    display: inline-block;
    line-height: .7em;
    height: 20px;
    font-size: 18px;
    color: var(--App-textColor);
}

.search-inputListItem a:hover {
    color: var(--App-linkHoverColor);
    text-decoration: underline;
}

.search-inputListItem:hover {
    background-color: var(--App-panelBgColor);
}

#secondary-nav {
    direction: rtl;
    width: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
    line-height: 2em;
}

.secondary-nav-item {
    font-family: TheYearofTheCamelBold, serif;
    font-size: 16px;
    margin-left: 5px;
    padding-right: 4px;
    padding-left: 4px;
}

#main {
    display: block;
    position: relative;
    z-index: 0;
    right: 0;
    top: 60px;
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
}

/* Book Card */
.col {
    margin-left: 5px;
    margin-bottom: 5px;
}

/* Dock */
#nav {
    display: block;
    position: fixed;
    right: 35%;
    bottom: 4px;
    border-radius: 10px;
    height: 60px;
    width: 30%;
    padding-right: 20px;
    border: solid 1px var(--App-panelBorderColor);
}

#current {
    position: absolute;
    top: -70px;
    right: 36%;
    border-radius: 6px;
    height: 120px;
    width: 22%;
    z-index: 1;
}

.navBt {
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    height: 45px;
    width: 20%;
    border-radius: 2px;
}

.navBt:nth-child(1) {
    width: 15%;
}

.navBt:nth-child(2) {
    width: 18%;
    margin-left: 19%;
}

.navBt:nth-child(3) {
    position: relative;
    right: 5%;
    margin-left: 3%;
}

.navBt:nth-child(4) {
    position: relative;
    right: 1.5%;
}

.navBt:hover {
    border-radius: 5px;
}

#settings {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
}

#SecondaryWindow {
    display: block;
    position: absolute;
    z-index: 1;
    /*TODO: make it dynamic */
    top: 15%;
    color: var(--App-textColor);
    background-color: var(--App-panelBgColor);
    border: solid 1px var(--App-secondaryTextColor);
    height: auto;
    max-width: 70%;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    from {
        top: 5%;
    }

    to {
        top: 15%;
    }
}

#SecondaryWindowHeader {
    display: block;
    width: 100%;
    height: 30px;
    background-color: var(--App-panelBorderColor);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    user-select: none;
}

#SecondaryWindowHeader span {
    position: relative;
    top: -10px;
    font-family: Moharram, serif;
    font-size: 28px;
    word-spacing: 2px;
}

#SecondaryWindowBt {
    display: block;
    position: absolute;
    bottom: 7%;
    padding-right: 7%;
    height: 30px;
    width: 100%;
}

#SecondaryWindowBt span {
    background-color: var(--App-panelBorderColor);
    position: relative;
    font-family: TheYearofTheCamelBold, serif;
    font-size: 18px;
    padding: 8px 15px 5px 15px;
    user-select: none;
}

#SecondaryWindowBt span:hover {
    background-color: var(--App-panelBgColor);
    cursor: pointer;
}

#SecondaryWindowBody {
    display: block;
    padding: 10px;
    margin-bottom: 55px;
    color: var(--App-textColor);
    font-family: TheYearofTheCamelBold, serif;
    word-spacing: 2px;
    font-size: 16px;
}

/* Add Book Style */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 0.1rem;
}

.rating input:checked ~ label,
.rating label:hover ~ label {
    color: #f5b301;
}